@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bokor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root { --primeira: #F7CFD8;
        --segunda: #F4F8D3;
        --terceira: #A6D6D6;
        --quarta: #8E7DBE;
        --quinta: #134686;
}
@font-face {
      font-family: 'Sofia', sans-serif;
      src: url('https://fonts.googleapis.com/css?family=Sofia-VF.woff2');
      font-weight: 100 1000; /* Define o intervalo de peso da fonte */
      font-stretch: 25% 151%; /* Define o intervalo de largura da fonte */
    }

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    background: var(--segunda);
}

header{ 
    font-family: Sofia;
    background-image: url(imagens/capa.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header > h1{
    z-index: 4;
}
nav{
 box-shadow: 0px 3px 10px rgb(109, 106, 106);
    background-color: #8E7DBE;
    padding: 1rem;
    color: white;
    cursor: pointer;
    font-family: Poppins;

}

nav > div > a:hover{
    color: var(--terceira);
}

.title{
    font-family: Bebas Neue;
}

.card{
    width: 10rem;
    height: 16rem;
    background-color: #dedede;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 0px 3px 10px rgb(109, 106, 106) ;
}

.fonte{
    font-family: Poppins;
}

.botao{
    background-color: var(--quarta);
    border-radius: 1rem;
    padding: 0.2rem;
    margin: 0.5rem;
    font-family: Poppins;
    color: white;
}

.botao:hover{
    background-color: var(--terceira);
    color: black;
    transition: all 0.5s;
}

footer{
    background-color: var(--quarta);
    padding: 1rem;
    font-family: Roboto;
}

footer > div > a:hover{
    color: rgb(54, 219, 76);
}

.zoom{
    transition: transform 0.5s;
}

.zoom:hover{
    transform: scale(1.1) ;
}

.link-convite{
    font-family: Poppins, sans-serif;
    font-weight: bold;
}

.link-convite:hover{
    text-decoration: underline;
    color: var(--quarta);
}





.cor-card{
    background-color: var(--primeira);
}


